.container-badge {
    width: 12rem;
    margin: 1rem;
    padding: 2rem;
    background-color: #252828;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

.badge-title {
    font-size: 21px;
    font-weight: 500;
}

.badge-description {
    font-size: 16px;
}

.badge-link-img {
    padding-left: .3rem;
    padding-right: .3rem;
    height: 2rem;
    cursor: pointer;

    filter:contrast(30%)
}

.badge-link-img-2 {
    padding-left: .3rem;
    padding-right: .3rem;
    height: 2rem;
    cursor: pointer;

    filter:contrast(26%)
}

.badge-link-img:hover {
    filter: invert(22%) sepia(74%) saturate(5058%) hue-rotate(252deg) brightness(56%) contrast(102%);
}

.badge-link-img-2:hover {
    filter: invert(22%) sepia(74%) saturate(5058%) hue-rotate(252deg) brightness(56%) contrast(102%);
}


.badge-technique-tags {
    margin-top: .5rem;
}

.badge-tech-tag {
    display: inline-block;

    margin: .15rem;
    padding: .25rem;
    font-size: 13px;
    font-weight: 400;
    border: 1px solid rgb(147, 39, 248);
    border-radius: 5px;
    
}
