.container2-badge {
    width: 15em;
    margin: 1rem;
    padding: 1rem;
    background-color: rgba(228, 228, 228, 0.658);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;

    display: flex;
    cursor: pointer;
}

.badge2-handle {
    font-weight: 300;
}

.badge2-link-img {
    padding-right: .6rem;
    width: 2.7rem;
    cursor: pointer;
}

.container2-badge:hover {
    box-shadow: 0 0 0 1px #9b9b9b0a;
}

@media only screen and (max-width: 1200px) {
}