.container-footer {
    width: 100%;
    min-height: 15rem;
    border-top: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    overflow-x: hidden;
    z-index: 1;

  }

  .footer-item-1 img{
      max-width: 60px
  }
  
  .footer-items {
      display: flex;
  }

  .footer-coffee {
      text-align: center;
      font-size: 14px;
      font-style: italic;
      font-weight: 300;
  }