.container-navbar {
    z-index: 1000;
    overflow: hidden;
    flex-direction: row;
    /* background-color: rgba(0, 0, 0, 0.137); */
    background-color: #15131631;
    position: fixed;

    width: 100vw;
}

.navbar-logo {
    float: left;
    margin-left: 1vw;
    
}

.navbar-items {
    float: right;
    height: 100%;
    flex: 1;

    display: flex;

    align-content: center;
    margin-right: 5vw;
}

.navbar-item {
    margin-right: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;

    font-weight: 200;
}