.container-row-1 {
    display: flex;
    justify-content: center;
}

.container-row-2 {
    display: flex;
    justify-content: center;
}

.container-row-3 {
    display: flex;
    justify-content: center;
}

.container-row-4 {
    display: flex;
    justify-content: center;
} 