
main {
    padding: 0rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-content: center;
  }

html, body {
    padding: 0;
    margin: 0;
    width: 100vw;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-size: 22px;
    font-family: 'Noto Sans', sans-serif;
}

a {
  position: relative;
  color: black;
  text-decoration: none;
}

a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 1px;
    background-color: #18272F;
    bottom: 0;
    left: 0;
    transform-origin: bottom;
    transform: scaleX(0);
    transition: transform .1s ease-in-out;
}

a:hover::before {
  transform-origin: top;
  transform: scaleX(1);
}

code {
  background: #fafafa;
  border-radius: 5px;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}

/* ALL THE BIG CONTENT CONTAINERS */
.container {
  padding-right: 20px;
}

.container-main {
  min-height: 100vh;
}

.container-home {
  padding-top: 3rem;
  background-color: white;
  min-height: 20rem;
}

.container-aboutme {
  padding-top: 3rem;
  min-height: 20rem;
  background-color: rgba(231, 231, 231, 0.363);
}

.container-skills {
  
  /*
  background-image: url('/ocean2.png');
  content: "";
  */
  /*
  background: linear-gradient(225deg, #b8e2ff 0%, #c972e9 100%);
  */
  background: linear-gradient(225deg, #e0f2ff 0%, #e4b8f5 100%);


  background-size: cover;
  background-repeat: no-repeat;
  background-color: white;
  padding-top: 5rem;
  min-height: 25rem;
}

.container-projects {
  padding-top: 3rem;
  background-color: rgba(231, 231, 231, 0.363);
  min-height: 40rem;
}

.container-badges {
  margin: 2rem;
  display: flex;
  justify-content: center;
}

.container-badges2 {
  margin: 1rem;
  display: flex;
  justify-content: center;
}

.container-contact {
  background-color: #914ceb9f;
  width: 100vw;
  padding-top: 2rem;
  min-height: 20rem;
}

/* SKILLS STUFF */

.logos-languages {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.logo {
  margin-left: .5rem;
  margin-right: .5rem;
}


@media only screen and (min-width: 320px) and (max-width: 480px) {
  .container-badges, .container-badges2 {
    display: flex;
    flex-wrap: wrap;
  }


  body {
    font-size: 16px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .container-badges, .container-badges2 {
    display: flex;
    flex-wrap: wrap;
  }

  body {
    font-size: 16px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1300px) {
  .container-badges, .container-badges2 {
    font-size: .9rem;
    display: flex;
    flex-wrap: wrap;
  }

  body {
    font-size: 18px;
  }
}
@media only screen and (min-width: 1300px) and (max-width: 1550px) {
  .container-badges, .container-badges2 {
    font-size: 1rem;
    display: flex;
    flex-wrap: wrap;
  }


  body {
    font-size: 1rem;
    background-color: rgb(247, 247, 247);
  }
}

